@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Righteous&display=swap');


.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

body {
  margin: 0;
  background-color: #393E46;
  font-family: 'Comfortaa', cursive;
  background-color: #413c49;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23696076' fill-opacity='0.96'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  
  }

h1 {
  font-family: 'Righteous', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  max-height: 30px;
  padding-bottom: 30px;
  color: #00DDFF;
}

h3 {
  font-style: italic;
  color:rgb(240, 240, 240);
}

p {
  font-size: 2rem;
  color: #00DDFF;
}

.score {
  color: #FFF;
}

.die {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

.img {
  font-size: 200px;
  max-width: 200px;
  color: rgb(243, 243, 243);
  text-shadow: 8px 8px 2px #232931;
  -webkit-text-stroke: 7px #232931;
}

.img:hover {
  filter: brightness(105%);
}

.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.dice:active {
  transform: scale(90%);
}

/* .fa-dice-one {
  -webkit-text-stroke: 5px red;
}

.fa-dice-two {
  -webkit-text-stroke: 5px green;
}

.fa-dice-three {
  -webkit-text-stroke: 5px blue;
}

.fa-dice-four {
  -webkit-text-stroke: 5px black;
}

.fa-dice-five {
  -webkit-text-stroke: 5px orange;
}

.fa-dice-six {
  -webkit-text-stroke: 5px purple;
} */

button {
  margin: 35px;
  border-radius: 55px;
  cursor: pointer;
    outline: none;
    border: none;
    width: auto;
    height: auto;
    background: #FF2200;
  font-size: 25px;
    color: white;
    text-align: center;
    padding: 25px;
    box-shadow: -10px 20px 20px -19px rgba(0, 0, 0, .7), 0 8px 5px 0 rgba(0, 0, 0, .3);
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translateY(3px);
  box-shadow: -7px 20px 20px -19px rgba(0, 0, 0, .7), 0 5px 5px 0 rgba(0, 0, 0, .3);
}

button:disabled {
  opacity: .5;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pulsate {
  -webkit-animation: pulsate 1.5s ease-out;
  -webkit-animation-iteration-count: infinite;
  filter: brightness(120%);
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(1);
  }

  50% {
    
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.looser {
  filter: brightness(80%);
  transform: scale(.9);
}

footer {
  border-top: #232931 1px solid;
  padding: 50px;
  margin-top: 5%;
  color: #dbdbdb;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  background-color: black;
}

@media only screen and ( max-width: 600px ) {

  h1 {
    font-size: 4rem;
  }

    .container {
      width: 100%;
    }
  
}
