@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Righteous&display=swap');

.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

body {
  margin: 0;
  background-color: #393E46;
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-family: 'Righteous', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  max-height: 30px;
  padding-bottom: 30px;
  color: #00DDFF;
}

h3 {
  font-style: italic;
  color:rgb(240, 240, 240);
}

p {
  font-size: 2rem;
  color: #00DDFF;
}

.score {
  color: #FFF;
}

.die {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

.img {
  font-size: 200px;
  max-width: 200px;
  color: rgb(243, 243, 243);
  text-shadow: 8px 8px 2px #232931;
  -webkit-text-stroke: 7px #232931;
}

.img:hover {
  opacity: 0.8;
}

.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.dice:active {
  transform: scale(90%);
}

/* .fa-dice-one {
  -webkit-text-stroke: 5px red;
}

.fa-dice-two {
  -webkit-text-stroke: 5px green;
}

.fa-dice-three {
  -webkit-text-stroke: 5px blue;
}

.fa-dice-four {
  -webkit-text-stroke: 5px black;
}

.fa-dice-five {
  -webkit-text-stroke: 5px orange;
}

.fa-dice-six {
  -webkit-text-stroke: 5px purple;
} */

button {
  margin: 35px;
  border-radius: 55px;
  cursor: pointer;
    outline: none;
    border: none;
    width: auto;
    height: auto;
    background: #FF2200;
  font-size: 25px;
    color: white;
    text-align: center;
    padding: 25px;
    box-shadow: -10px 20px 20px -19px rgba(0, 0, 0, .7), 0 8px 5px 0 rgba(0, 0, 0, .3);
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translateY(3px);
  box-shadow: -7px 20px 20px -19px rgba(0, 0, 0, .7), 0 5px 5px 0 rgba(0, 0, 0, .3);
}

button:disabled {
  opacity: .5;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pulsate {
  -webkit-animation: pulsate 1.5s ease-out;
  -webkit-animation-iteration-count: infinite;
  filter: brightness(120%);
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(1);
  }

  50% {
    
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.looser {
  opacity: 0.5;
  transform: scale(.9);
}

footer {
  border-top: #232931 1px solid;
  padding: 50px;
  margin-top: 5%;
  color: #dbdbdb;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

@media only screen and ( max-width: 600px ) {

  h1 {
    font-size: 4rem;
  }

    .container {
      width: 100%;
    }
  
}
